/**/

.clear-float{
  clear:both;
}
body{
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}
.top_bar_section{
  float:left;
  border-left: 1px #CCCCCC solid;
  height:100%;
}
#top_bar{ /*fixed width, centered in the page*/
  width: 1000px;
  height: 40px;
  margin: 0 auto; /*0 margin on top/bottom, auto on left, right*/
}

#logo{
  float: left;
  margin-top: 8px;
  margin-right: 8px;
  margin-left: 3px;
}
#signin_div{
  margin-right: 20px;
}
#signin_logo{
  height: 70%;
  margin-top: 5px;
  float: left;
}
#signin_text{
  font-weight: bold;
  font-size: 80%;
  position: relative;
  top: 11px;
  left: 5px;
}
#wiggly{
  height: 100%;
  width: 9px;
  float: left;
}
#bell{
  float:left;
  height: 65%;
  margin-top: 9px;
}
#arrow{
  float:right;
  padding-left: 10px;
  height: 10px;
  margin-top: 15px;
}
#searchbar{
  border: none;
  height: 20px;
  margin: 8px 15px 10px 0px;
  padding-right: 0px;
  padding-left: 2px;
  margin-left: 10px;
  margin-right: 0px;
  background-color: #e4e4e4;
  font-weight: bold;
}
#mag_glass{
  height:22px;
  margin-top: 8px;
  float: right;
  margin-left: 0px;
}

.topictext{
  float:left;
  border-left: 1px #CCCCCC solid;
  height:100%;
  padding-right: 25px;
  padding-left: 15px;
}
#menu-bar-container {
   border-top: 1px solid #CCCCCC;
   background-color: #BB1919;
   height:70px;
   width:100%;
}

 #menu-bar {
     width:1000px;
     margin:0 auto;
  }

 h1 {
   padding:0;
   margin:0;
   color:white;
   font-size: 40px;
   font-weight: normal;
   padding-top: 10px;
   float:left;
 }
 #local-news{
   border: 1px #BB4545 dotted;
   float: right;
   padding: 5px;
   margin: 5px 10px 0px 0px;
   margin-top:10px;
   margin-right: 80px;
 }
 #local-news a{
   color: white;
   text-decoration: none;
   font-weight: normal;
   font-size: 20px;
   position: relative;
   top: -8px;
 }
 #local-news a:hover{
   text-decoration: underline;
 }
 #local-news img{
   height: 30px;
   /*margin-left: 1px;*/
 }

 #submenu-bar-container{
   background-color: #a91717;
   width:100%;
 }
 #submenu-bar{
   width:1000px;
   margin: 0px auto;
   height: 40px;
 }
 #submenu-bar a{
   color: white;
   font-size: 14px;
   border-right: 1px #BB4545 solid;
   font-weight: normal;
   text-decoration: none;
   margin-top: 5px;
   padding: 0px 10px;
   position: relative;
   top: 10px;
 }

 #submenu-bar a:hover{
   text-decoration: underline;
 }
 #submenu-bar img{
   height: 10px;
   position: relative;
   top: 10px;
 }
 .no-border{
   border: none !important;
 }

 #page_container{ //centered
   width: 1000px;
   margin: 0 auto;
 }
 h2{
   font-weight: normal;
   margin-top: 4px;
   font-size: 20px;
   border-bottom: 2px solid #BB1919;
   width: 110px
 }
 h3 a{
   color: #777;
   text-decoration: none;
   /*font-weight: normal;;*/
   font-size: 37px;
 }
 h3 a:hover{
   font-weight: bold;
   color: #37e;
 }
 #article-summary{
   color: #5a5a5a;
   width: 230px;
   float:left;
 }
 #topic-link{
  color: #BB1919 !important;
  font-weight: normal !important;
  text-decoration: none;
  border-left: 1px #CCCCCC solid;
  padding-left: 5px;
 }
 #topic-link-2{
   color: #BB1919 !important;
   font-weight: normal !important;
   text-decoration: none;
   padding-left: 2px;
   margin-left: 2px;
 }
 #date{
   border-right: 1px solid #CCCCCC;
   padding-right: 5px;
   padding-left: 5px;
 }
 #article-summary a:hover{
   text-decoration: none;
   color: #0645AD;
 }
 #time-icon{
   height: 13px;
 }
 #article-container{
   float:left;
   width:640px;
   border-right: 1px solid #CCCCCC;
   padding-right: 5px;
 }
 #main-image{
   width: 390px;
   margin-left: 15px;
 }
 #mainarticle{
   width: 1000px;
   margin: 0 auto;
 }
 #article-hr{
   border-top: 2px solid #BB4545;
   width: 50px;
 }
 /*.article-links{
   font-size: 85% !important;
 }*/
 .article-links a{
   color: black !important;
   text-decoration: none !important;
   font-weight: normal !important;
 }
 .article-links a:hover{
   color: #0645ad !important;
   text-decoration: none;
   font-weight: normal;
 }
 h4{
   font-weight: normal;
   font-size: 25px;
   color: grey;
 }

 #watch-listen-container{
   float: right;
   margin-left: 9px;
   width: 340px;
 }

 #watch-listen{
   color: #777;
   float:left
 }

 .watch-listen-link:visited{
   font-weight: bold;
   color: #777;
 }
 .watch-listen-link:hover{
   color: #37e;
 }
 .watch-listen-link{
   color: black;
   text-decoration: none;
   font-weight: bold;
   font-size: 17px;
 }
 .watch-listen-date{
   font-size: 5px;
 }
 /*#watch-listen p{
   font-size: 85%;

 }*/
 #watch-listen hr{
   border-top: 1px solid #CCCCCC;
 }
 .border-right{
   border-right: 1px solid #777;
 }
 .article-side-image{
   float: left;
   width: 130px;
   padding-right: 10px;
 }
 .article-info{
   width:200px;
   float:right;
 }
 .watch-article{
   width: 100%;
   float:left;
 }
 .watch-article p{
   font-size: 14px;
 }
